@model MvcWHSAlumni.Models.AttendedClassResultsViewModel

@{
    ViewData["Title"] = "Listing";
}


<script src="~/js/ColumnSortDeceased.js"></script>
<script language="javascript">
    
    function showTable(){
document.getElementById('AlumniTable').style.visibility = "visible";
}
function hideTable(){
document.getElementById('AlumniTable').style.visibility = "hidden";
}

</script>

<h7>Deceased Classmates</h7>
<div class="text-center">
    <p style="text-align: left; font-size:12px">Here is a listing of our deceased Alumni. 
    If you know of someone that has passed that is not on this list please send us a link to the obituary and email us at john.snouffer@gmail.com</p>
</div>
<p></p>
<p style="font-size: 10px;">
    <a asp-action="Create">Report Passed Alumni</a>
</p>
<form asp-controller="PassedAlumni" asp-action="Index" method="get">
    <p style="font-size: 10px; font-weight:bold">
        Select by Class:&nbsp;and/or&nbsp;
        <select asp-for="AttendedClassResults" asp-items="Model.AttendedClass" style="font-size: 10px">
            <option value="">All</option>
        </select><br />
       Select by Last Name:&nbsp;and/or&nbsp;<select asp-for="LastNameResults" asp-items="Model.LastNameClass" style="font-size: 10px">
            <option value="">All</option>
        </select>
        <br />
        and/or&nbsp;First Name: <input type="text" asp-for="SearchString" />
        <br />


        <input type="submit" value="Submit"/>
    </p>
</form>

<table class="table data" id="AlumniTable" style="font-size: 10px;background-color:lightblue">
    <thead>
        <tr>
            <th onclick="sortTable(0)">
                @Html.DisplayNameFor(model => model.PassedAlumni[0].FirstName)
            </th>
            <th onclick="sortTable(1)">
                @Html.DisplayNameFor(model => model.PassedAlumni[0].MaidenName)
            </th>
            <th onclick="sortTable(2)">
                @Html.DisplayNameFor(model => model.PassedAlumni[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassedAlumni[0].PassingDate)
            </th>
            <th onclick="sortTable(4)">
                @Html.DisplayNameFor(model => model.PassedAlumni[0].TheClassAttended)
            </th>
            <th onclick="sortTable(5)">
                @Html.DisplayNameFor(model => model.PassedAlumni[0].HighSchool)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PassedAlumni)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaidenName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TheClassAttended)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HighSchool)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
